.footer{
    padding: 0;

    .footer_bgcol{
        background-color: #141414;
    }

    .footer_img{
        background-image: url('/footer-background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .input_border_right{
        border: 1px solid transparent;
        background-image: linear-gradient(to left, rgba(239, 219, 35, 0.94), rgba(236, 245, 191, 0.87));
        border-radius: 4px !important;
        --bs-gutter-x: 0 !important;

    }

    .input_border_left{
        border: 1px solid transparent;
        background-image: linear-gradient(to left, rgba(236, 245, 191, 0.87), rgb(199, 180, 5));
        border-radius: 4px !important;
        --bs-gutter-x: 0 !important;

    }

    .cust_paddings{
        padding: 2px 50px;
    }
    .cust_feedback_paddings{
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

.carus{

    margin-bottom: 40px;
    margin-top: 20px;
    height: 150px;
    overflow: hidden;
    max-width: 100%;

    body {
        margin: 0 ;
        padding: 0;
    }



    button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    img {
        display: block;
        width: 100%;
    }

    section {
        width: 100%;
        overflow: hidden;
    }

    article {
        display: flex;
        width: 200%;
        height: 150px;
        animation: bannermove 30s linear infinite;
    }

    article.paused {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }

    div {
        width: 100%;
        overflow: hidden;
    }

    ul {
        display: flex;
        background: transparent;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        overflow: hidden;
    }

    li {
        width: 100%;
        background: transparent;
    }

    li:nth-child(2) {
        background: transparent;
    }

    li:nth-child(3) {
        background: transparent;
    }

    @keyframes bannermove {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

.above_nav{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.main-nav{
    .nav-font{
        font-size: 0.8vw !important;
    }
}

.head_icons{
    .icons {
        height: 50px !important;
    }
}

.content_container{
    background-color: #e4e7e8;
    margin-top: 25px;
    box-shadow: #2b2b2b;
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 4px;

    .animate{
        transition: 0.5s;
    }

    #content_container > .row > .col :hover{
        transform: translateX(2px);
        transform: translateY(3px);
    }
}

.tabs{
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;

    .col-bordered{
        margin-right: 2px;
        border: 2px solid #a7a7a8;
    }
}





.news_carusel {
    @media (max-width: 767px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    /* medium and up screens */
    @media (min-width: 768px) {

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(20%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-20%);
        }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}










.photo-gallery {
    color:#313437;
    background-color:#fff;
}

.photo-gallery p {
    color:#7d8285;
}

.photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom:0;
}

.photo-gallery .photos {
    padding-bottom:20px;
}

.photo-gallery .item {
    padding-bottom:30px;
}

